apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "{{ .SyncWave }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  name: {{ .Name }}-components
  namespace: {{ .Namespace }}
spec:
  destination:
    name: {{ .DestinationClusterName }}
    namespace: {{ .Name }}
  project: {{ .Project}}
  source:
    path: lite/registry/clusters/{{ .ClusterName }}/components/{{ .Name }}
    repoURL: {{ .GitopsRepoURL }}
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
