image:
  repository: registry.k8s.io/external-dns/external-dns
  tag: "v0.13.2"
serviceAccount:
  create: true
  name: external-dns
{{- if in .AuthFromAnnotation .Provider }}
  annotations:
    {{ .Auth }}
{{- end }}
provider: {{ .Provider }}
sources:
- ingress
domainFilters:
- {{ .DomainName }}
{{- if notIn .AuthFromAnnotation .Provider }}
env:
- name: {{ .Auth }}
  valueFrom:
    secretKeyRef:
      name: external-dns-secrets
      key: token
{{- end }}

{{- if eq .Provider "azure" }}
extraVolumes:
- name: azure-config-file
  secret:
    secretName: external-dns-secrets # Set in Terraform
    optional: true
extraVolumeMounts:
- name: azure-config-file
  mountPath: /etc/kubernetes
  readOnly: true
{{- end }}
